<div>
    <h1 class="center title">Template Driven Form</h1>
    <div class="row">
        <div class="col-md-12">
    
            <div *ngIf="!formValue">
                <form name ="myForm" #c="ngForm" (ngSubmit)="onSubmit(c)">
                    <div>
                        <label for="name">name:</label><br>
                        <input type="text" id="name" name="name" [ngModel]="name" required><br><br>

                    </div>

                    <div>
                        <label for="email">email:</label><br>
                        <input type="text" id="email" name="email" [(ngModel)]="email"><br><br>
                      
                    </div>
                        
                    <div>
                        
                            <label for="gender">gender:</label><br>
                             <input type="radio" id="male" name="gender" value="male" ngModel>
                              <label for="male">Male</label><br>
                             <input type="radio" id="female" name="gender" value="female" ngModel>
                              <label for="female">Female</label><br><br>
                    
                    </div>

                    <div>
                        <label for="state">state:</label><br>
                        <input type="text" id="state" name="state" ngModel><br><br>
                    </div>

                    <div>
                        
                            <label for="bio">bio:</label><br>
                            <textarea name="bio" rows="10" cols="30" placeholder="about me" ngModel></textarea>
                            <br><br>
                            <input type="submit" value="submit">
                        
                    </div>

                </form> 
            </div>
    
            
        </div>
        <div class="col-md-12">
    
            <div *ngIf="formValue">
                <div *ngFor="let formValue of register; let i= index;">
                    <p>name: {{formValue.name}}</p>
                    <p>email: {{formValue.email}}</p>
                    <p>gender: {{formValue.gender}}</p>
                    <p>state: {{formValue.state}}</p>
                    <p>bio: {{formValue.bio}}</p>
                    <hr>
                </div>
                <div>
                    <input type="button" (click)="formValue=null" value="Reset form">
                </div>
              
            </div>
            
        </div>
    
    </div>
    
</div>
