<div class="general">

<div class="header"> 
    <div class="logo"><b>FINTRAK ACADEMY</b></div>
  
  <nav class="menu">  
    <ul>
      <a [routerLink]="['/home']" >Home</a>
    </ul>
    <ul> 
      <a [routerLink]="['/form']" >Template Form</a>
    </ul>
    <ul>
      <a [routerLink]="['/reactiveform']" >Reactive Form</a>
    </ul>

    <ul> 
      <a [routerLink]="['/trainee/new']">Add trainee</a>
    </ul>

    <ul> 
      <a [routerLink]="['/employee']">Add employee</a>
    </ul>

  </nav>

</div>
 <div class="wrapper">
      <router-outlet></router-outlet>
 </div>
</div>