/* You can add global styles to this file, and also import other style*/
/*html{
    background-color: burlywood;
}*/
h3{
    text-align: center;
    text-emphasis: none;
    font: outline;;
    font-family: fantasy;
    color: teal;
}
div {
    text-align: center;
    color: darkcyan;
}
div h1 {
    text-align: center;
    font-weight: bold;
    color: mediumblue;
}