  <div class="row">
      <div class="col-md-10">
        <h1 class="title">Fintrak Academy Album</h1>
        <div class ="row">
            <div class="col-md-3 m-4" *ngFor="let trainees of academy, let i = index">
                <app-trainee [trainees]="trainees" (selectedTrainee)=traineeListener($event)></app-trainee>
            </div>
        </div>  
      </div>
      <div class="col-md-2">
          <div class="card" style="width: 16rem;" *ngIf="activeTrainee">
              <img src="../assets/pix/{{activeTrainee.image}} " class="card-img-top profile-pic" height=150px width=150px>
              <div class="card-body">
                  <p class="card-title"><b>Name: {{activeTrainee.name}}</b></p>
                  <p><b>complexion: {{activeTrainee.complexion}}</b></p>
                  <p><b>hobbies: {{activeTrainee.hobbies}}</b></p>
              </div>
          </div>
      </div>
  </div>
  
<!--  
<app-form *ngIf="isTemplateDriven"></app-form>
<app-reactive-form  *ngIf="!isTemplateDriven"></app-reactive-form>  -->
 <!-- <div>
       <ul class="list-group small-width li-no-bullet">
          <li class="list-group-item">Tosin</li>
          <li class="list-group-item">Zino</li>
          <li class="list-group-item">Sarah</li>
          <li class="list-group-item">Najeeb</li>
          <li class="list-group-item">Chioma</li>
      </ul>
      <ul >
          <li *ngFor="let trainees of academy">

          </li>
      </ul>
      
</div>  -->
